@if (action=='list') {

@if (data && data.length!=0) {
<div class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
    <button (click)="addClick()">افزودن</button>
</div>

<table>
    <thead>
        <tr>
            <th style="text-align: right;">Id</th>
            <th style="text-align: right;">Title</th>
            <th style="text-align: right;">Writer</th>
            <th style="text-align: right;">Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (item of data; track $index) {

        <tr>
            <td>{{item.id}}</td>
            <td>{{item.title}}</td>
            <td>{{item.writer}}</td>
            <td>{{item.price}}</td>
            <td>
                <button (click)="editClicK(item)">Edit</button>
                <button (click)="Delete(item)">Delete</button>
            </td>
        </tr>
        }
    </tbody>
</table>
}
}
@else {
<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
        <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Add a new product</h2>
        <form action="#">
            <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
                <div class="sm:col-span-2">
                    <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Writer
                        Name</label>
                    <input type="text" [(ngModel)]="entity.writer" id="writer" name="writer"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                        placeholder="Type writer name" required="">
                </div>
                <div class="w-full">
                    <label for="brand"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Title</label>
                    <input [(ngModel)]="entity.title" id="title" name="title"  type="text"  
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                        placeholder="Book title" required="">
                </div>
                <div class="w-full">
                    <label for="price"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Price</label>
                    <input [(ngModel)]="entity.price" type="number" name="price" id="price"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                        placeholder="$2999" required="">
                </div>


            </div>
            <button (click)="ok()"
                class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                Add product
            </button>
            <button (click)="cancel()" class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">Cancel</button>
        </form>
    </div>
</section>
}
@if (action=='list'){

@if (data && data.length==0) {
<div>
    <button (click)="addClick()" class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">افزودن</button>
</div>

<table>
    <thead>
        <tr>
            <th style="text-align: right;">شناسه</th>
            <th style="text-align: right;">عنوان</th>
            <th style="text-align: right;">نویسنده</th>
            <th style="text-align: right;">قیمت</th>
        </tr>
    </thead>

</table>
}
}